<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Demand Forecast</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>

    <div class="section">

        <div class="card">
            <div class="card-content">


                <div class="buttons">
                    <a class="button is-warning"  href="{{ url_for('home') }}" >
                        <span class="icon">
                            <i class="fa fa-home"></i>
                        </span>
                        <span>Go Home</span>
                    </a>
                </div>


                <div class="content has-text-centered">
                    <h2 class="title is-size-1 pb-5">
                        <span>Demand Forecast Tool</span>
                    </h2>
                    <div class="subtitle">Predicts for next <b>24 Months</b></div>

                    <br>

                    <progress class="progress is-small is-warning" max="100" id="myprettypbar">15%</progress>

                    <div class="select mb-5">
                        <select id="selected_season">
                            <option selected="selected">
                                {{ selected_season }}
                            </option>
                            {% for i in seasons %}
                            {% if i != selected_season %}
                                <option>{{ i }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <button id="download-button" class="button is-warning" type="submit"
                        onclick="downloadFile();this.disabled=true; ">
                        Export Forecast as .xlsx
                    </button>

                </div>
            </div>

            <!-- fetch_data -->

            <div id="table-container" class="container">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% for header in season_data["headers"] %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in season_data["rows"] %}

                        <tr>
                            {% for v in row.values() %}
                            <td>{{v}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
    </div>
 </div>
</div>


</body>

<script>

    $(document).ready(function () {
        $('#example').DataTable({
            pagingType: 'full_numbers',
        });
    });

    function downloadFile() {

        const selected_season = document.getElementById("selected_season").value;

        if (selected_season) {
            //set display to block on progress bar
            document.getElementById("myprettypbar").style.display = "block";

            //call api using httpe client
            url = '/download_xlsx'
            fetch(url + "?" + new URLSearchParams({
                "season": selected_season
            }))
                .then(response => {

                    const contentDisposition = response.headers.get('content-disposition');
                    const fileName = contentDisposition ? contentDisposition.split('filename=')[1].replace(/"/g, '') : 'download.xlsx'

                    //set display to block on progress bar
                    document.getElementById("myprettypbar").style.display = "none";

                    response.blob().then(blob => {
                        const blobUrl = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = blobUrl;
                        link.setAttribute('download', fileName);
                        document.body.appendChild(link);
                        link.click();
                        link.parentNode.removeChild(link);

                        // Enable the "Export Forecast as .xlsx" button after download
                        document.getElementById("download-button").disabled = false;
                    })

                })
                .catch((err) => console.log("err", err))

            //create a download button object
            const downloadButton = document.querySelector('button');

        } else {
            pass
        }


    }



</script>


<style>
    #myprettypbar {
        display: none;
    }
</style>

</html>