<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Demand Forecast</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>

    <div class="section">

        <div class="card">
            <div class="card-content">

                <div class="content has-text-centered">


                    <nav class="level">
                        <div class="level-item ">
                            <div>
                                <h2 class="title is-size-1 pb-5">
                                    <span>Demand Forecast Tool</span>
                                    <a target="_blank" title="Go to process documentation"
                                        href="https://docs.google.com/document/d/1tbzF6f4_YLUxF498jte4WdBokxWDC1b5/edit?usp=sharing&ouid=116469799824138308635&rtpof=true&sd=true">
                                        <i class="is-size-5 fa-solid fa-link fa-xs"></i>
                                    </a>
                                </h2>
                                <div class="subtitle is-size-6">Predicts for next <b>24 Months</b></div>
                                <div> Sales data available till <b>{{ last_month }}</b></div>
                            </div>
                        </div>

                        <!-- <div class="level-right">
                            <div class="level-item" title="Go to process documentation">
                                <a target="_blank"
                                    href="https://docs.google.com/document/d/1JvfREiJwzHN4g4JNArqF3FlbH405dDnRxy4SzVONSGg/edit#heading=h.haq7816uqp7y">
                                    <i class="fa-solid fa-link fa-xl"></i>
                                </a>
                            </div>
                        </div> -->
                    </nav>


                    <br>

                    <progress class="progress is-small is-warning" max="100" id="myprettypbar">15%</progress>

                    <form action="/fetch_data" method="POST">
                        <div class="select mb-5">
                            <select id="selected_season" onchange="checkSelectedValue(this)" name="selected_season">
                                <option value="0">Select Season</option>
                                {% for i in season %}
                                <option>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button id="fetch-button" type="submit" class="button is-warning" name="fetch-button"
                            onclick="this.form.submit();this.disabled = true; document.getElementById('download-button').disabled = true;document.getElementById('myprettypbar').style.display = 'block';">
                            Preview Forecast
                        </button>

                        <!-- <a href="{{ url_for('fetch_data') }}" class="button is-warning" type="submit">
                        </a> -->
                    </form>

                    <button id="download-button" class="button is-warning" type="submit"
                        onclick="downloadFile(); this.disabled=true; document.getElementById('fetch-button').disabled = true;">
                        Export Forecast as .xlsx
                    </button>



                </div>
            </div>


        </div>







    </div>

    </div>


</body>

<script>

    // handle action buttons on selected value
    document.getElementById("download-button").disabled = true;
    document.getElementById("fetch-button").disabled = true;
    function checkSelectedValue(selectedValue) {
        if (selectedValue.value != "0") {
            document.getElementById("download-button").disabled = false;
            document.getElementById("fetch-button").disabled = false;
        }
    }



    function downloadFile() {

        const selected_season = document.getElementById("selected_season").value;

        if (selected_season) {
            //set display to block on progress bar
            document.getElementById("myprettypbar").style.display = "block";

            //call api using http client
            url = '/download_xlsx'
            fetch(url + "?" + new URLSearchParams({
                "season": selected_season
            }))
                .then(response => {

                    const contentDisposition = response.headers.get('content-disposition');
                    const fileName = contentDisposition ? contentDisposition.split('filename=')[1].replace(/"/g, '') : 'download.xlsx'

                    //set display to block on progress bar
                    document.getElementById("myprettypbar").style.display = "none";

                    response.blob().then(blob => {
                        const blobUrl = window.URL.createObjectURL(blob);
                        const link = document.createElement('a');
                        link.href = blobUrl;
                        link.setAttribute('download', fileName);
                        document.body.appendChild(link);
                        link.click();
                        link.parentNode.removeChild(link);
                    })

                    // unhide buttons
                    document.getElementById("download-button").disabled = false;
                    document.getElementById("fetch-button").disabled = false;

                })
                .catch((err) => console.log("err", err))

            //create a download button object
            const downloadButton = document.querySelector('button');

        } else {
            pass
        }


    }



</script>


<style>
    #myprettypbar {
        display: none;
    }
</style>

</html>